.about {
    width: 100%;
    min-height: 1622px;
    padding: 110px 0 165px 0;
    position: relative;
    background: linear-gradient(332.6deg, #151212 35.2%, #100E0E 69.36%), linear-gradient(0.41deg, #151212 0.23%, #000000 98.54%);

    &__bg {
        width: 1440px;
        height: inherit;
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;
    }

    &__members-wrapper {
        margin-top: 85px;
        display: flex;
        justify-content: space-between;
    }

    &__photo {
        width: 250px;
        height: 250px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__subtitle {
        width: 250px;
        padding: 30px 22px;
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        text-align: center;
        color: $main-color;
        background-color: #000000;
        span {
            color: #ffffff;
        }
    }
}

#Schneider {
    margin-left: 50px;
}

#Lindemann {
    margin-top: 170px;
}

#Landers {
    margin-right: 50px;
}

#Lorenz {
    margin-top: 170px;
    margin-left: 30px;
}

#Riedel {
    margin-top: -25px;
    margin-left: -15px;
}

#Kruspe {
    margin-top: 150px;
    margin-right: 20px;
}