.promo {
    width: 100vw;
    min-height: 100%;
    padding: 20px 0 60px 0;
    background: linear-gradient(270deg, #1A1717 0%, #000000 30%),
    linear-gradient(180deg, #2F2A2A 30.15%, #000000 32.56%);

    .container {
        min-height: 100%;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.18em;
        text-transform: uppercase;
    }

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 70px;
        height: 70px;
    }

    &__content {
        position: relative;
        display: flex;
        justify-content: flex-end;
        margin-top: 82px;
    }

    &__photo {
        position: absolute;
        bottom: -60px;
        left: -60px;
    }

    &__descr {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__text {
        width: 60px;
        font-weight: 300;
        font-size: 20px;
        line-height: 40px;
        text-align: center;
        span {
            font-family: BuntislandWeathered-Regular;
            font-size: 50px;
            line-height: 70px;
        }

        &:nth-child(1) {
            width: 110px;
        }

        &:nth-child(odd) {
            margin-right: 150px;
        }
    }
}